[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Java Language Support
Comment[ca]=Implementació de llenguatge Java
Comment[de]=Sprachunterstützung für Java
Comment[el]=Υποστήριξη γλώσσας Java
Comment[es]=Implementación de lenguaje Java
Comment[et]=Java keele toetus
Comment[fr]=Prise en charge du langage Java
Comment[ga]=Tacaíocht Java
Comment[gl]=Soporte de Java
Comment[hne]=जावा भाखा समर्थन
Comment[ja]=Java 言語のサポート
Comment[nds]=Ünnerstütten för Java
Comment[pa]=ਜਾਵਾ ਲੈਗੂਇਜ਼ ਸਹਿਯੋਗ
Comment[pt]=Suporte para a Linguagem Java
Comment[pt_BR]=Suporte à linguagem Java
Comment[sv]=Stöd för språket Java
Comment[tr]=Java Dil Desteği
Comment[uk]=Підтримка мови Java
Comment[x-test]=xxJava Language Supportxx
Name=KDevJavaSupport
Name[fr]=KdevJavaSupport
Name[hne]=के-डेव-जावा-समर्थन
Name[sv]=KDevelop Java-stöd
Name[x-test]=xxKDevJavaSupportxx
GenericName=Java Support
GenericName[ca]=Implementació Java
GenericName[de]=Unterstützung für Java
GenericName[el]=Υποστήριξη Java
GenericName[es]=Implementación Java
GenericName[et]=Java toetus
GenericName[fr]=Prise en charge de Java
GenericName[ga]=Tacaíocht Java
GenericName[gl]=Soporte de Java
GenericName[hne]=जावा समर्थन
GenericName[ja]=Java サポート
GenericName[nds]=Java-Ünnerstütten
GenericName[nl]=Ondersteuning voor Java
GenericName[pa]=ਜਾਵਾ ਸਹਿਯੋਗ
GenericName[pt]=Suporte para Java
GenericName[pt_BR]=Suporte a Java
GenericName[sv]=Java-stöd
GenericName[tr]=Java Desteği
GenericName[uk]=Підтримка Java
GenericName[x-test]=xxJava Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source-java
X-KDE-Library=kdevjavalanguagesupport
X-KDE-PluginInfo-Name=kdevjavasupport
X-KDevelop-Version=7
X-KDevelop-Language=Java
X-KDevelop-Args=JAVA
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-java
X-KDevelop-Mode=NoGUI
