[Desktop Entry]
Icon=java
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_javasettings
X-KDE-FactoryName=kcm_kdev_javasettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Java Support
Name[ga]=Tacaíocht Java
Name[pt]=Suporte para Java
Name[pt_BR]=Suporte para Java
Name[sv]=Java-stöd
Name[uk]=Підтримка Java
Comment=Configure Java Support settings
Comment[ga]=Cumraigh socruithe Tacaíocht Java
Comment[pt]=Configurar as opções do Suporte para Java
Comment[pt_BR]=Configurar as opções do Suporte para Java
Comment[sv]=Anpassa inställningar av Java-stöd
Comment[uk]=Налаштувати параметри підтримки Java
