[Desktop Entry]
Icon=java
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_javasettings
X-KDE-FactoryName=kcm_kdev_javasettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Java Support
Name[bg]=Поддръжка на Java
Name[ca]=Implementació Java
Name[ca@valencia]=Implementació Java
Name[de]=Unterstützung für Java
Name[en_GB]=Java Support
Name[es]=Implementación de Java
Name[et]=Java toetus
Name[fr]=Prise en charge de Java
Name[ga]=Tacaíocht Java
Name[gl]=Soporte de Java
Name[hu]=Java támogatás
Name[it]=Supporto per Java
Name[ja]=Java サポート
Name[nds]=Java-Ünnerstütten
Name[nl]=Ondersteuning voor Java
Name[pa]=ਜਾਵਾ ਸਹਿਯੋਗ
Name[pl]=Obsługa Java
Name[pt]=Suporte para Java
Name[pt_BR]=Suporte a Java
Name[sk]=Podpora Javy
Name[sv]=Java-stöd
Name[tr]=Java Desteği
Name[uk]=Підтримка Java
Name[x-test]=xxJava Supportxx
Comment=Configure Java Support settings
Comment[bg]=Настройки на поддръжката на Java
Comment[ca]=Configura els arranjaments de la implementació de Java
Comment[ca@valencia]=Configura els arranjaments de la implementació de Java
Comment[de]=Unterstützung für Java einrichten
Comment[en_GB]=Configure Java Support settings
Comment[es]=Configurar las preferencias de la implementación Java
Comment[et]=Java toetuse seadistamine
Comment[fr]=Configure les paramètres pour la prise en charge de Java
Comment[ga]=Cumraigh socruithe Tacaíocht Java
Comment[gl]=Configuración do soporte de Java
Comment[hu]=Java támogatás beállításainak módosítása
Comment[it]=Configura le impostazioni per il supporto Java
Comment[ja]=Java サポートを設定します
Comment[nds]=Java-Ünnerstütten instellen
Comment[nl]=Instellingen voor Java-ondersteuning configureren
Comment[pl]=Konfiguruj ustawienia obsługi Java
Comment[pt]=Configurar as opções do Suporte para Java
Comment[pt_BR]=Configurar as opções do suporte para Java
Comment[sk]=Nastaviť nastavenia podpory Javy
Comment[sv]=Anpassa inställningar av Java-stöd
Comment[tr]=Java Desteği ayarlarını yapılandır
Comment[uk]=Налаштувати параметри підтримки Java
Comment[x-test]=xxConfigure Java Support settingsxx
